.container {
  width: 280px;
  padding: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.input-wrapper:focus-within {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.link-icon {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 5px;
}

.clear-icon {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 5px;
  cursor: pointer;
}

.link-icon svg,
.clear-icon svg {
  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  height: 28px;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  border: none;
  background: transparent;
  color: inherit;
  outline: none;
}

.error {
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0 4px;
  font-size: 12px;
}